.header p {
  font-weight: 700;
  font-size: 3rem;
}

span {
  color: var(--color-accent);
}

.hero {
  min-width: 600px;
  height: 300px;
  border: 1px solid var(--color-text);
  border-radius: 25px;
  padding: 16px;
}

.hero-text > p {
  font-size: 2.75rem;
  font-weight: 1000;
}

.hero-text p:nth-child(2) {
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 6px;
}

.done-counter {
  font-size: 3.5rem;
  width: 160px;
  height: 160px;
  border-radius: 100px;
  background-color: var(--color-accent);
  color: var(--color-bg);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 1000;
  letter-spacing: 3px;
}

#todo-input {
  width: 460px;
  height: 56px;
  background-color: var(--color-input);
  border-radius: 24px;
}

input {
  padding-left: 32px;
  font-size: 2rem;
}

.plus-sign {
  width: 64px;
  height: 64px;
  background-color: var(--color-accent);
  border-radius: 50px;
  font-weight: bold;
  color: var(--color-bg);
}

.task {
  min-width: 600px;
  height: 88px;
  border: 1px solid var(--color-text);
  border-radius: 16px;
  background-color: var(--color-input);
}

.circle {
  width: 40px;
  height: 40px;
  border: 1px solid var(--color-accent);
  border-radius: 50px;
}

.circle-done {
  width: 40px;
  height: 40px;
  background-color: var(--color-done);
  border-radius: 50px;
}

.task-name {
  font-size: 2.25rem;
  font-weight: 1000;
  margin-top: -5px;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

.done {
  text-decoration: line-through;
}

.task:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px var(--color-accent);
}

.completed:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px var(--color-done);
}

.svg {
  height: 50px;
  width: 40px;
}

dialog {
  margin: auto;
  width: 500px;
  letter-spacing: 0.25px;
  background-color: var(--color-bg);
  border-radius: 10px;
  padding: 8px;
  border: 1px solid var(--color-text);
}

dialog h1 {
  font-size: 1.15rem;
  color: var(--color-text);
  margin-bottom: 16px;
}

dialog[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

dialog * {
  color: var(--color-text);
}

dialog input {
  background-color: var(--color-input);
  border-radius: 4px;
  padding: 8px;
}

dialog label {
  font-size: 1.5rem;
}

.btns-container button {
  font-size: 1.5rem;
  border: 1px solid red;
  background-color: var(--color-accent);
  color: var(--color-bg);
  border-radius: 2px;
  padding: 8px;
  font-weight: 1000;
}

/* body {
  overflow-y: auto;
} */
