.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 500px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  gap: 48px;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.input-field {
  display: flex;
  gap: 24px;
  justify-content: space-around;
  align-items: center;
}

.plus-sign {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.task-main {
  display: flex;
  gap: 16px;
  align-items: center;
  padding-left: 16px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.svgs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 16px;
  gap: 8px;
}
