@import './typography.css';
@import './reset.css';
@import './variables.css';
@import './layout.css';
@import './components.css';

body {
  font-family: 'Satoshi-Regular', sans-serif;
  font-size: 50px;
  background-color: var(--color-bg);
  color: var(--color-text);
}
